<!-- Contact Form -->
<div class="bg-white shadow-md rounded-lg p-6 max-w-4xl mx-auto m-30 mt-5">
  <h2 class="text-2xl font-semibold mb-6">Contact Information</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
    <app-contact-form [formGroup]="contactForm" [submitted]="submitted">
    </app-contact-form>

    <!-- Success Message -->
    <div
      *ngIf="successMessage"
      class="alert alert-success bg-emerald-800 text-white p-4 mt-4 rounded"
    >
      {{ successMessage }}
    </div>
  </form>
</div>

<!-- Passenger Form -->
<div class="bg-white shadow-md rounded-lg p-6 max-w-4xl mx-auto m-30 mt-5">
  <h2 class="text-2xl font-semibold mb-6">Passenger Information</h2>
  <form [formGroup]="passengerForm" (ngSubmit)="onSubmitPassengers()">
    <div formArrayName="passengers">
      <div
        *ngFor="let passengerForm of passengerForms.controls; let i = index"
        [formGroupName]="i"
        class="mb-8 border-b pb-6 last:border-b-0"
      >
        <app-passenger-form
          [passengerForm]="getPassengerFormGroup(i)"
          [index]="i"
          [submitted]="passengersSubmitted"
        ></app-passenger-form>
      </div>

      <!-- Save Button -->
      <div class="w-full md:w-1/2 flex justify-center mt-11 font-bold">
        <button pButton severity="success" class="w-32 h-13">Save</button>
      </div>
    </div>
  </form>
</div>
