<!-- Contact Form -->
<div class="max-w-4xl mx-auto p-6 m-30 border shadow-md bg-white">
  <h2 class="text-2xl font-semibold mb-6">Contact Information</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
    <!-- Name and surname -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block mb-3">
          Name <span class="text-red-500">*</span>
        </label>
        <input
          pInputText
          type="text"
          formControlName="name"
          placeholder="Name"
          class="w-full"
        />
        <div class="h-5 mt-1">
          <small
            *ngIf="submitted && contactForm.controls['name'].invalid"
            class="text-red-500"
          >
            Name is required and should be between 2 and 50 characters.
          </small>
        </div>
      </div>

      <div>
        <label class="block mb-3">
          Surname <span class="text-red-500">*</span>
        </label>
        <input
          pInputText
          type="text"
          formControlName="surname"
          placeholder="Surname"
          class="w-full"
        />
        <div class="h-5 mt-1">
          <small
            *ngIf="submitted && contactForm.controls['surname'].invalid"
            class="text-red-500"
          >
            Surname is required and should be between 2 and 50 characters.
          </small>
        </div>
      </div>
    </div>

    <!-- Email and Repeat Email -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
      <div>
        <label class="block mb-3">
          Email <span class="text-red-500">*</span>
        </label>
        <input
          pInputText
          type="email"
          formControlName="email"
          placeholder="Email"
          class="w-full"
        />
        <div class="h-5 mt-1">
          <small
            *ngIf="submitted && contactForm.controls['email'].invalid"
            class="text-red-500"
          >
            Please enter a valid email address.
          </small>
        </div>
      </div>
      <div>
        <label class="block mb-3">
          Repeat Email <span class="text-red-500">*</span>
        </label>
        <input
          pInputText
          type="email"
          formControlName="repeatemail"
          placeholder="Email"
          class="w-full"
        />
        <div class="h-5 mt-1">
          <small
            *ngIf="submitted && contactForm.controls['repeatemail'].invalid"
            class="text-red-500"
          >
            Please enter a valid email address.
          </small>
          <small
            *ngIf="
              submitted &&
              contactForm.value.email !== contactForm.value.repeatemail
            "
            class="text-red-500"
          >
            Emails do not match.
          </small>
        </div>
      </div>
    </div>

    <!-- Country Code + Phone Container + Country-->
    <div class="mt-4 flex flex-col md:flex-row md:space-x-4">
      <!-- Country Code + Phone Container -->
      <div class="flex w-full md:w-1/2 space-x-4">
        <!-- Code -->
        <div class="w-1/3">
          <label class="block mb-3">
            Code <span class="text-red-500">*</span>
          </label>
          <p-select
            [options]="codes"
            formControlName="code"
            placeholder="Code"
            class="w-full"
          ></p-select>
          <div class="h-5 mt-1">
            <small
              *ngIf="submitted && contactForm.controls['code'].invalid"
              class="text-red-500"
            >
              Required.
            </small>
          </div>
        </div>

        <!-- Phone -->
        <div class="w-2/3">
          <label class="block mb-3">
            Phone <span class="text-red-500">*</span>
          </label>
          <input
            pInputText
            type="text"
            formControlName="phone"
            placeholder="Enter phone number"
            maxlength="10"
            class="w-full"
            pattern="^[0-9]{10}$"
            inputmode="numeric"
            (input)="onPhoneInput($event)"
          />
          <div class="h-5 mt-1">
            <small
              *ngIf="submitted && contactForm.controls['phone'].invalid"
              class="text-red-500"
            >
              Required.
            </small>
          </div>
        </div>
      </div>

      <!-- Country -->
      <div class="w-full md:w-1/2 mt-4 md:mt-0">
        <label class="block mb-3">
          Country <span class="text-red-500">*</span>
        </label>
        <p-select
          [options]="countries"
          formControlName="country"
          placeholder="Country"
          class="w-full"
        ></p-select>
        <div class="h-5 mt-1">
          <small
            *ngIf="submitted && contactForm.controls['country'].invalid"
            class="text-red-500"
          >
            Required.
          </small>
        </div>
      </div>
    </div>

    <!-- City and Address -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
      <div>
        <label class="block mb-3">
          City <span class="text-red-500">*</span>
        </label>
        <input
          pInputText
          type="text"
          formControlName="city"
          placeholder="City"
          class="w-full"
        />
        <div class="h-5 mt-1">
          <small
            *ngIf="submitted && contactForm.controls['city'].invalid"
            class="text-red-500"
          >
            City is required.
          </small>
        </div>
      </div>

      <div>
        <label class="block mb-3">
          Address <span class="text-red-500">*</span>
        </label>
        <input
          pInputText
          type="text"
          formControlName="address"
          placeholder="Address"
          class="w-full"
        />
        <div class="h-5 mt-1">
          <small
            *ngIf="submitted && contactForm.controls['address'].invalid"
            class="text-red-500"
          >
            Address is required.
          </small>
        </div>
      </div>
    </div>

    <!-- Zipcode and Save Button in the same row -->
    <div class="mt-4 flex flex-col md:flex-row md:space-x-4">
      <!-- Zipcode -->
      <div class="w-full md:w-1/2">
        <label class="block mb-3">
          Zipcode <span class="text-red-500">*</span>
        </label>
        <input
          pInputText
          type="text"
          formControlName="zipcode"
          placeholder="Zipcode"
          class="w-full"
        />
        <div class="h-5 mt-1">
          <small
            *ngIf="submitted && contactForm.controls['zipcode'].invalid"
            class="text-red-500"
          >
            Zipcode is required and must be a valid format.
          </small>
        </div>
      </div>

      <!-- Save Button -->
      <div class="w-full md:w-1/2 flex justify-center mt-11">
        <button pButton severity="success" class="w-32 h-13">Save</button>
      </div>
    </div>

    <!-- CheckBox -->
    <div class="mt-4 flex items-start">
      <div class="flex flex-col w-full">
        <div class="flex items-center">
          <p-checkbox
            formControlName="isParticipating"
            binary="true"
          ></p-checkbox>
          <label for="participate" class="ml-2">
            I am participating in the journey myself.
          </label>
        </div>
        <div class="h-5 mt-1">
          <small
            *ngIf="submitted && contactForm.controls['isParticipating'].invalid"
            class="text-red-500"
          >
            You must confirm your participation.
          </small>
        </div>
      </div>
    </div>

    <!-- Success Message -->
    <div
      *ngIf="successMessage"
      class="alert alert-success bg-emerald-800 text-white p-4 mt-4 rounded"
    >
      {{ successMessage }}
    </div>
  </form>
</div>

<!-- Passenger Form -->
<div class="bg-white shadow-md rounded-lg p-6">
  <h2 class="text-2xl font-semibold mb-6">Passenger Information</h2>
  <form [formGroup]="passengersForm" (ngSubmit)="onSubmitPassengers()">
    <div formArrayName="passengers">
      <div
        *ngFor="let passengerForm of passengerForms.controls; let i = index"
        [formGroupName]="i"
        class="mb-8 border-b pb-6 last:border-b-0"
      >
        <h3 class="text-lg font-semibold mb-4">
          {{ i + 1 }}. {{ passengerData[i].type }}
        </h3>

        <!-- Gender -->
        <!-- <div class="mb-4">
          <label class="block mb-2 font-medium"
            >Gender <span class="text-red-500">*</span></label
          >
          <div class="flex items-center space-x-4">
            <div class="flex items-center">
              <p-radioButton
                formControlName="gender"
                value="MALE"
                [inputId]="'male_' + i"
              ></p-radioButton>
              <label [for]="'male_' + i" class="ml-2">Male</label>
            </div>
            <div class="flex items-center">
              <p-radioButton
                formControlName="gender"
                value="FEMALE"
                [inputId]="'female_' + i"
              ></p-radioButton>
              <label [for]="'female_' + i" class="ml-2">Female</label>
            </div>
          </div>
          <small
            *ngIf="hasError(null, 'gender', 'required', i)"
            class="text-red-500"
            >Gender is required</small
          >
        </div> -->

        <div class="mb-4">
          <label class="block mb-2 font-medium"
            >Gender <span class="text-red-500">*</span></label
          >
          <div class="flex items-center space-x-4">
            <div class="flex items-center">
              <p-radioButton
                [name]="'gender_group_' + i"
                [value]="'MALE'"
                [inputId]="'male_' + i"
                [formControl]="getGenderControl(i)"
              ></p-radioButton>
              <label [for]="'male_' + i" class="ml-2">Male</label>
            </div>
            <div class="flex items-center">
              <p-radioButton
                [name]="'gender_group_' + i"
                [value]="'FEMALE'"
                [inputId]="'female_' + i"
                [formControl]="getGenderControl(i)"
              ></p-radioButton>
              <label [for]="'female_' + i" class="ml-2">Female</label>
            </div>
          </div>
          <small
            *ngIf="hasError(null, 'gender', 'required', i)"
            class="text-red-500"
            >Gender is required</small
          >
        </div>

        <!-- NAME AND SURNAME -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label class="block mb-3"
              >Name <span class="text-red-500">*</span></label
            >
            <input
              pInputText
              formControlName="name"
              placeholder="Name"
              class="w-full"
            />
            <div>
              <small
                *ngIf="hasError(null, 'name', 'required', i)"
                class="text-red-500"
                >Name is required</small
              >
            </div>
          </div>

          <div>
            <label class="block mb-3"
              >Surname <span class="text-red-500">*</span></label
            >
            <input
              pInputText
              formControlName="surname"
              placeholder="Surname"
              class="w-full"
            />
            <div class="h-5 mt-1">
              <small
                *ngIf="hasError(null, 'surname', 'required', i)"
                class="text-red-500"
                >Surname is required</small
              >
            </div>
          </div>
        </div>

        <!-- Nationality AND Birth Date -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
          <!-- Nationality  -->
          <div>
            <label class="block mb-3"
              >Nationality <span class="text-red-500">*</span></label
            >
            <p-select
              [options]="nationalities"
              formControlName="nationality"
              class="w-full"
            >
            </p-select>
          </div>

          <!-- Birth Date -->
          <!-- <div>
            <label class="block mb-3"
              >Date of birth <span class="text-red-500">*</span></label
            >
            <p-datePicker
              formControlName="birthDate"
              displayFormat="dd/MM/yyyy"
              valueFormat="yyyy-MM-dd"
              [showIcon]="true"
              class="w-full"
            ></p-datePicker>
            <small
              *ngIf="hasError(null, 'birthDate', 'required', i)"
              class="text-red-500"
              >Please enter a valid date (DD/MM/YYYY)</small
            >
          </div> -->

          <!-- Birth Date -->
          <div>
            <label class="block mb-3"
              >Date of birth <span class="text-red-500">*</span></label
            >
            <p-calendar
              formControlName="birthDate"
              [showIcon]="true"
              dateFormat="dd/mm/yy"
              [showButtonBar]="true"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="1900:2030"
              inputId="birthDate"
              styleClass="w-full"
              [inputStyle]="{ height: '4rem', padding: '1rem', width: '100%' }"
            >
            </p-calendar>
            <small
              *ngIf="hasError(null, 'birthDate', 'required', i)"
              class="text-red-500"
              >Please enter a valid date (DD/MM/YYYY)</small
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Save Button -->
    <div class="w-full md:w-1/2 flex justify-center mt-11">
      <button pButton severity="success" class="w-32 h-13">Save</button>
    </div>
  </form>
</div>
