@import "tailwindcss";
@import "primeicons/primeicons.css";

.p-inputtext {
  padding: 1rem !important;
  height: 4rem !important;
}
.p-dropdown {
  padding: 0.7rem !important;
  height: 4rem !important;
}
.p-button {
  background-color: white !important;
  color: red !important;
  border: 4px solid red !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}
