<div [formGroup]="formGroup">
  <h3 class="text-lg font-semibold mb-4">
    {{ index + 1 }}. {{ passengerType }}
  </h3>
  <div class="mb-4">
    <label class="block mb-2 font-medium"
      >Gender <span class="text-red-500">*</span></label
    >
    <div class="flex items-center space-x-4">
      <div class="flex items-center">
        <p-radioButton
          [name]="'gender_group_' + index"
          [value]="'MALE'"
          [inputId]="'male_' + index"
          [formControl]="getGenderControl()"
        ></p-radioButton>
        <label [for]="'male_' + index" class="ml-2">Male</label>
      </div>
      <div class="flex items-center">
        <p-radioButton
          [name]="'gender_group_' + index"
          [value]="'FEMALE'"
          [inputId]="'female_' + index"
          [formControl]="getGenderControl()"
        ></p-radioButton>
        <label [for]="'female_' + index" class="ml-2">Female</label>
      </div>
    </div>
    <small *ngIf="hasError('gender', 'required')" class="text-red-500"
      >Gender is required</small
    >
  </div>

  <!-- NAME AND SURNAME -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <label class="block mb-3">Name <span class="text-red-500">*</span></label>
      <input
        pInputText
        formControlName="name"
        placeholder="Name"
        class="w-full"
      />
      <div>
        <small *ngIf="hasError('name', 'required')" class="text-red-500"
          >Name is required</small
        >
      </div>
    </div>

    <div>
      <label class="block mb-3"
        >Surname <span class="text-red-500">*</span></label
      >
      <input
        pInputText
        formControlName="surname"
        placeholder="Surname"
        class="w-full"
      />
      <div class="h-5 mt-1">
        <small *ngIf="hasError('surname', 'required')" class="text-red-500"
          >Surname is required</small
        >
      </div>
    </div>
  </div>

  <!-- Nationality AND Birth Date -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
    <!-- Nationality  -->
    <div>
      <label class="block mb-3"
        >Nationality <span class="text-red-500">*</span></label
      >
      <p-dropdown
        [options]="nationalities"
        formControlName="nationality"
        placeholder="Select"
        [style]="{ width: '100%' }"
        optionLabel="label"
        optionValue="value"
      >
      </p-dropdown>
    </div>

    <!-- Birth Date -->
    <div>
      <label class="block mb-3"
        >Date of birth <span class="text-red-500">*</span></label
      >
      <p-datePicker
        formControlName="birthDate"
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        styleClass="w-full"
      ></p-datePicker>
      <small *ngIf="hasError('birthDate', 'required')" class="text-red-500"
        >Please enter a valid date (DD/MM/YYYY)</small
      >
    </div>
  </div>
</div>
