<h3 class="text-lg font-semibold mb-4">
  {{ i + 1 }}. {{ passengerData[i].type }}
</h3>

<div class="mb-4">
  <label class="block mb-2 font-medium"
    >Gender <span class="text-red-500">*</span></label
  >
  <div class="flex items-center space-x-4">
    <div class="flex items-center">
      <p-radioButton
        [name]="'gender_group_' + i"
        [value]="'MALE'"
        [inputId]="'male_' + i"
        [formControl]="getGenderControl(i)"
      ></p-radioButton>
      <label [for]="'male_' + i" class="ml-2">Male</label>
    </div>
    <div class="flex items-center">
      <p-radioButton
        [name]="'gender_group_' + i"
        [value]="'FEMALE'"
        [inputId]="'female_' + i"
        [formControl]="getGenderControl(i)"
      ></p-radioButton>
      <label [for]="'female_' + i" class="ml-2">Female</label>
    </div>
  </div>
  <small *ngIf="hasError(null, 'gender', 'required', i)" class="text-red-500"
    >Gender is required</small
  >
</div>

<!-- NAME AND SURNAME -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div>
    <label class="block mb-3">Name <span class="text-red-500">*</span></label>
    <input
      pInputText
      formControlName="name"
      placeholder="Name"
      class="w-full"
    />
    <div>
      <small *ngIf="hasError(null, 'name', 'required', i)" class="text-red-500"
        >Name is required</small
      >
    </div>
  </div>

  <div>
    <label class="block mb-3"
      >Surname <span class="text-red-500">*</span></label
    >
    <input
      pInputText
      formControlName="surname"
      placeholder="Surname"
      class="w-full"
    />
    <div class="h-5 mt-1">
      <small
        *ngIf="hasError(null, 'surname', 'required', i)"
        class="text-red-500"
        >Surname is required</small
      >
    </div>
  </div>
</div>

<!-- Nationality AND Birth Date -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
  <!-- Nationality  -->
  <div>
    <label class="block mb-3"
      >Nationality <span class="text-red-500">*</span></label
    >
    <p-select
      [options]="nationalities"
      formControlName="nationality"
      class="w-full"
    >
    </p-select>
  </div>

  <!-- Birth Date -->
  <div>
    <label class="block mb-3"
      >Date of birth <span class="text-red-500">*</span></label
    >
    <p-calendar
      formControlName="birthDate"
      [showIcon]="true"
      dateFormat="dd/mm/yy"
      [showButtonBar]="true"
      [monthNavigator]="true"
      [yearNavigator]="true"
      yearRange="1900:2030"
      inputId="birthDate"
      styleClass="w-full"
      [inputStyle]="{ height: '4rem', padding: '1rem', width: '100%' }"
    >
    </p-calendar>
    <small
      *ngIf="hasError(null, 'birthDate', 'required', i)"
      class="text-red-500"
      >Please enter a valid date (DD/MM/YYYY)</small
    >
  </div>
</div>
